
@{
   ViewData["Title"] = "Transacción existosa";
}
<h2>Crear nuevo tipo de cuenta</h2>
<br />
<h4>Congratulations, your transaction has been successful !!</h4>
<br />



<a class="nav-link border-bottom" asp-area="" asp-controller="TiposCuentas" asp-action="Crear">Crear tipo de cuenta nuevo</a>
