@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <div class="hab">
        <div class="row justify-content-md-center text-center libro">
            <div class="col col-3 bg-white bf" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
                <i class="bi-x-diamond-fill" style="font-size:30px; color :blue"></i>
                <p>Front End </p>
                <ul>
                    <li>Razor</li>
                    <li>Blade</li>
                    <li>HTML 5</li>
                    <li>HTML CSS</>

                </ul>

            </div>

            <div class="col col-3 bg-white bf" style="border-radius: 0 15px 15px 0 ; box-shadow:0 5px 5px 0 gray">
                <i class="bi-code" style="font-size:30px; color:blue"></i>
                <p>Back End </p>
                <ul>
                    <li>MySql
                    <li>SqlServer</>
                    <li>PHP</li>
                    <li>Python</>
                    <li>C#</>
                    <li>VB</>

                </ul>
            </div>
        </div>
    </div>
