


<div class="text-center">
    <h class="display-4">Adán Pérez Galicia (2022) </h>
    <h3>Desarollo .Net</h3>
    <img src="~/imagenes/net.png" />

    <div id="desc" class="row justify-content-center text-center">


        <div id="book" class="col col-md-7">
            <h4 id="encab">Bienvenido a mi Portafolio</h4>

            <p>
                Me dedico al desarrollo de bases de datos y aplicaciones web y escritorio. Comencé con VB 6 y VB.Net, hice algunos desarrollos con PHP y Láravel, ahora regreso a
                MVC.Net. Casi siempre he hecho desarrollos para el sector público, gobiernos municipales y estatales, aplicaciones reales que rápidamente entran a producción.
                <br>
                Comienza a desarrollar con el pie derecho, acostúmbrate a utilizar patrones de diseño y a estandarizar tu trabajo. Sé que podemos descubrir el poder de esta
                arquitectura, es hora de comenzar a desarrollar aplicaciones robustas y metodológicamente bien fundamentadas.

            </p>
        </div>

    </div>